@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Varela+Round&display=swap');

* {
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    --fonte_principal: 'Red Hat Display', Arial, Helvetica, sans-serif;
    --cor_titulo: #FFFFFF;
    --cor_subtitulo: #c3c3c3;
    --cor_input: #ebe7dd;
    --cor_botao_adicionar: #7DCB85;
    --cor_botao_download: #CCEAEC;
    --cor_botao_imprimir: #E0CCEC;
    --cor_botao_cancelar: rgb(105, 27, 27);
    font-family: var(--fonte_principal);}

.container {

    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.png');
    background-size: cover;

}

.div-conteudo-esquerda {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 30px;

}

.container-conteudo-esquerda {

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.div-titulo {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top: 90px;
    gap: 5px;
    
}

.titulo-principal {

    font-size: 60px;
    color: var(--cor_titulo);
    font-weight: 100;

}

.subtitulo-principal {

    color: var(--cor_subtitulo);
    font-size: 20px;
    font-weight: 100;

}

.div-input-botao {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 70%;
    margin-bottom: 50px;

}

.input-item {

    width: 372.1px;
    height: 74px;
    background: var(--cor_input);
    box-shadow: 2px 4px 4px #000000;
    border-radius: 10px;
    border: none;
    text-indent: 20px;
    font-size: 17px;

}

.input-item:focus {

    outline: none;

}

.botao-adicionar {

    width: 68.98px;
    height: 74px;
    background: var(--cor_botao_adicionar);
    box-shadow: 0px 2px 4px #000000;
    border-radius: 10px;
    border: none;
    font-size: 50px;
    transition: 0.3s;

}

.botao-adicionar:hover {
    background: #115c2a;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.div-download-imprimir {

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 70%;

}

.botao-download {

    width: 50px;
    height: 40px;
    background: var(--cor_botao_download);
    box-shadow: 0px 2px 4px #000000;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao-imprimir {

    width: 50px;
    height: 40px;
    background: var(--cor_botao_imprimir);
    box-shadow: 0px 2px 4px #000000;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}


.div-conteudo-direita {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-lista {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0 auto;

}

.div-titulo-lista {

    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 10px;
    font-size: 40px;
    border-bottom-color: #7DCB85;
    text-align: center;

}

.titulo-lista {

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    line-break: anywhere;
    border: none;
    text-align: center;

}

.titulo-lista:focus {

    outline: none;

}

.div-ul {

    overscroll-behavior: none;
    width: 85%;
    display: flex;
    line-break: anywhere;
    overflow-y: auto;
    height: 70%;

}

.ul {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;

}

.item {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    font-size: 20px;
    padding: 10px;
    gap: 20%;

}

.botao-cancelar {
    
    width: 25px;
    height: 25px;
    background: var(--cor_input);
    box-shadow: 2px 4px 4px #000000;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.3s;

}

.botao-cancelar:hover {

    color: var(--cor_titulo);
    background: var(--cor_botao_cancelar);
    cursor: pointer;
    transition: 0.3s;

}

::-webkit-scrollbar {

    width: 5px;

}

::-webkit-scrollbar-track {

    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    
    background: #d8b861;
    border-radius: 10px;

}

@media print {
    @page{
        size: auto;
        margin: 7mm;
    }

    body {
        visibility: hidden;
    }

    .div-conteudo-esquerda {
        display: none;
    }

    .div-conteudo-direita {
        visibility: visible;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
    }

    .div-lista {
        visibility: visible;
        width: 100%;
        height: auto;
        box-shadow: none;

    }

    .div-titulo-lista {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .div-ul {
        visibility: visible;
        height: auto;
        width: 100vw;

    }

    .ul {
        gap: 5px;
    }


    .botao-cancelar {
        display: none;
    }
}